# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.~
~*

# Environment
.env
.venv
env/
venv/
ENV/
VENV/

# Database files
*.db
*.sqlite
*.sqlite3

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db
